*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: outfit;
    font-weight: 400;
}

/* Global container */
.page-container {
  margin: 0 auto;       /* Center horizontally */
  padding: 20px 40px;   /* Vertical and horizontal padding */
  max-width: 2000px;    /* Optional max width */
  box-sizing: border-box; /* Include padding in width */
}